body {
  font-family: 'Montserrat', sans-serif;
  background-color: #2D4A53;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-container {
  width: 650px;
  height: 320px;
  color: #69818D;
  text-align: center;
  border: 3px solid #0D1F23;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info-text {
  font-size: 45px;
  margin: 0;
}

.info-text__additional {
  font-size: 35px;
  margin: 0px;
}